@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

.sliderHome{
  padding: 30px 0px;
}
.sliderHomeMain{
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  border: none;
}
.item{
  height: 60vh;
}
.item img{
height: 100%;
object-fit: cover;
}
.slick-arrow{
  position: absolute;
top: 47%;
width: 40px;
height: 40px;
border-radius: 50%;
background: #3bb77e;
z-index: 99;
color: black;

}
.slick-arrow.slick-prev{
left:2% !important


}
.slick-arrow.slick-next{
  right:2% !important
  
  }
  .slick-arrow:hover{
    background-color: #222;
    color: #fff;
  }
  .sliderHomeMain .slick-dots{
    z-index: 99;
    position: absolute;
    bottom: 30px;
    

  }
  .sliderHomeMain .slick-dots button::before{
    font-size: 16px;
    color: #3bb77e;
  }
  .sliderHomeMain .slick-dots .slick-active{
    color: #3bb77e;
  }
  .item{
    position: relative;
  }
  .item .info{
    position: absolute;
    top: 20%;
    left: 7%;
    display: flex;
    flex-direction: column;
    gap: 30px;

  }
  .item .info h1{
    font-size: 60px;
    font-weight: 700;
    color: darkslategray;

  }
  .item .info h4{
    opacity: .7;
  }
  .item .info form{
    width:600px;
    
    position: relative;

  }
  .item .info form input{
    width: 100%;
    height: 80px;
    padding: 15px;
    border: none;
    border-radius: 30px;
    outline: none;
    padding-left: 20px;
  }
 
  .item .info form Button{
    width: 25%;
    padding: 10px 25px;
    border: none;
    border-radius: 30px;
    position: absolute;
    right: 0;
    height: 80px;
    background-color: #3bb77e;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;

  }